<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>

            <!-- websocket magic -->
            <form class="col-md-12 upload" action="/done" method="post" enctype="multipart/form-data">
                <h4 class="col-md-3 col-md-offset-4">Upload File</h4>
                <input type="file" id="myFile" class="col-md-3 col-md-offset-4" name='file'>
                <input type="submit" id="subbtn" class=" btn">
                <br>
            </form>

            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>